@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #000;
  color: #fff;
  ::-webkit-scrollbar {
    width: 0;
  }

  --inter-font: "Inter";
  --monument-extended-font: "Monument Extended";
}

@font-face {
  font-family: Inter;
  src: url("/fonts/inter.ttf");
}

@font-face {
  font-family: Monument Extended;
  src: url("/fonts/monument-extended-r.otf");
}

@layer utilities {

  .hero_title {
    @apply font-primary font-extrabold text-[5rem] uppercase leading-[75px]
  }

  .container {
    @apply max-w-7xl w-[90%]
  }
}
